ws/order.wsdl.20170718

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s0="http://req.sync.soap.bossagent.vac.unicom.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://soap.bossagent.vac.unicom.com" xmlns:s1="http://rsp.sync.soap.bossagent.vac.unicom.com" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://soap.bossagent.vac.unicom.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://req.sync.soap.bossagent.vac.unicom.com">
      <s:complexType name="OrderRelationUpdateNotifyRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="recordSequenceId" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="userIdType" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="userId" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="serviceType" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="spId" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="productId" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="updateType" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="updateTime" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="updateDesc" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="linkId" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="content" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="effectiveDate" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="expireDate" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="time_stamp" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="encodeStr" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rsp.sync.soap.bossagent.vac.unicom.com">
      <s:complexType name="OrderRelationUpdateNotifyResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="recordSequenceId" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="resultCode" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="orderRelationUpdateNotifySoapIn">
    <wsdl:part name="orderRelationUpdateNotifyRequest" type="s0:OrderRelationUpdateNotifyRequest" />
  </wsdl:message>
  <wsdl:message name="orderRelationUpdateNotifySoapOut">
    <wsdl:part name="orderRelationUpdateNotifyReturn" type="s1:OrderRelationUpdateNotifyResponse" />
  </wsdl:message>
  <wsdl:portType name="VACSoap">
    <wsdl:operation name="orderRelationUpdateNotify">
      <wsdl:input message="tns:orderRelationUpdateNotifySoapIn" />
      <wsdl:output message="tns:orderRelationUpdateNotifySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VACSoap" type="tns:VACSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="orderRelationUpdateNotify">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://soap.bossagent.vac.unicom.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://soap.bossagent.vac.unicom.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="VACSoap12" type="tns:VACSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="orderRelationUpdateNotify">
      <soap12:operation soapAction="" style="rpc" />
      <wsdl:input>
        <soap12:body use="encoded" namespace="http://soap.bossagent.vac.unicom.com" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="encoded" namespace="http://soap.bossagent.vac.unicom.com" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VAC">
    <wsdl:port name="VACSoap" binding="tns:VACSoap">
      <soap:address location="http://221.7.13.207:8090/ws/order.php" />
    </wsdl:port>
    <wsdl:port name="VACSoap12" binding="tns:VACSoap12">
      <soap12:address location="http://221.7.13.207:8090/ws/order.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>